In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sharon\documents\faybeth_data_science\capstone project\myenv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sharon\documents\faybeth_data_science\capstone project\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sharon\documents\faybeth_data_science\capstone project\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sharon\documents\faybeth_data_science\capstone project\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sharon\documents\faybeth_data_science\capstone project\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
Installing collected packages: pandas
Successfully installed pandas-2.3.3

In [2]:
import pandas as pd

In [3]:
binance_raw=pd.read_csv(r"C:\Users\Sharon\Documents\FAYBETH_data_science\Capstone project\crypto_classifier\data\raw\raw_data.csv")
binance_raw.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,1677974400000,22346.57,22662.09,22189.22,22430.24,154841.75786,1678060799999,3.473011e+09,4835978,77394.35765,1.735989e+09,0
1,1678060800000,22430.24,22602.19,22258.00,22410.00,203751.82957,1678147199999,4.569102e+09,6471278,102110.26304,2.289889e+09,0
2,1678147200000,22409.41,22557.91,21927.00,22197.96,292519.80912,1678233599999,6.517595e+09,7813394,145498.64219,3.242137e+09,0
3,1678233600000,22198.56,22287.00,21580.00,21705.44,301460.57272,1678319999999,6.641172e+09,8018963,150008.02488,3.304860e+09,0
4,1678320000000,21704.37,21834.99,20042.72,20362.22,443658.28584,1678406399999,9.403029e+09,10076702,217900.59621,4.619804e+09,0

In [4]:
binance_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   int64
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   int64
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: float64(8), int64(4)
memory usage: 93.9 KB

In [6]:
binance_raw.describe()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
count,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,1.000000e+03,1000.0
mean,1.721131e+12,67391.300870,68591.060410,66161.862410,67460.537710,39109.794406,1.721218e+12,2.101598e+09,2.706846e+06,19282.942451,1.032846e+09,0.0
std,2.495400e+10,31107.776986,31540.451481,30589.359704,31084.462808,60804.666263,2.495400e+10,1.814848e+09,2.344258e+06,30551.430459,9.100686e+08,0.0
min,1.677974e+12,20150.690000,20367.780000,19549.090000,20150.690000,3282.173520,1.678061e+12,2.508740e+08,3.108520e+05,1514.419590,1.165812e+08,0.0
25%,1.699553e+12,35606.340000,36786.000000,35295.000000,35712.417500,17607.205450,1.699639e+12,1.054325e+09,1.152395e+06,8500.489075,5.106062e+08,0.0
50%,1.721131e+12,65174.655000,66499.000000,63568.530000,65205.265000,27642.964295,1.721218e+12,1.674541e+09,1.870772e+06,13367.687398,8.168140e+08,0.0
75%,1.742710e+12,96691.782500,98288.750000,95208.090000,96691.782500,41335.806025,1.742796e+12,2.499592e+09,3.473034e+06,20324.711713,1.227982e+09,0.0
max,1.764288e+12,124658.540000,126199.630000,123084.000000,124658.540000,699360.934230,1.764374e+12,1.746531e+10,1.522359e+07,351739.119940,8.783916e+09,0.0

In [7]:
binance_raw["open_time"] = pd.to_datetime(binance_raw["open_time"],unit="ms")
binance_raw["close_time"] = pd.to_datetime(binance_raw["close_time"],unit="ms")

In [8]:
binance_raw["open_time"].head()

0   2023-03-05
1   2023-03-06
2   2023-03-07
3   2023-03-08
4   2023-03-09
Name: open_time, dtype: datetime64[ns]

In [9]:
binance_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   datetime64[ns]
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   datetime64[ns]
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(2)
memory usage: 93.9 KB

In [ ]:
binance_raw=binance_raw.drop(columns=["ignore"],axis=1)
binance_raw.head()